# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# global
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

# 4 space indentation
[*.{cs,ps1,rego,tla}]
indent_size = 4

# 2 space indentation
[*.{feature, md, yaml, yml}]
indent_size = 2
