name: Test

on:
  - push

permissions:
  contents: read
  packages: write

defaults:
  run:
    shell: pwsh

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Dev Container
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/signalrichard/dotnet-console-interview-example
          cacheFrom: ghcr.io/signalrichard/dotnet-console-interview-example
          push: always
          runCmd: pwsh -c "./scripts/build.ps1"
      